version: "3.7"
services:

  dummy_er:
    image: ${EIFFEL_DUMMY_ER_IMAGE_TAG}
    build:
      context: ./dummy-er
      args:
        DUMMY_ER_VERSION: ${EIFFEL_DUMMY_ER_VERSION}

  jenkins:
    image: ${EIFFEL_JENKINS_IMAGE_TAG}
    build:
      context: ./
      dockerfile: ./jenkins/Dockerfile
      args:
        JENKINS_VERSION: ${EIFFEL_JENKINS_IMAGE_BUILD_VERSION}

  jenkins_fem:
    image: ${EIFFEL_JENKINS_FEM_IMAGE_TAG_NAME}
    build:
      context: ./
      dockerfile: ./eiffel-jenkins/Dockerfile
      args:
        JENKINS_VERSION: ${EIFFEL_JENKINS_FEM_IMAGE_TAG_NAME}